In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('Resources/movie_tableau.csv')

In [4]:
df.columns

Index(['id', 'imdb_id', 'all_genres', 'key_genre', 'spoken_language', 'origin',
       'release_year', 'runtime', 'title', 'overview', 'tagline', 'budget',
       'revenue', 'rating_tmdb', 'votes_tmdb', 'awards', 'director', 'writer',
       'actors', 'plot', 'rating_imdb', 'votes_imdb', 'rating_rotten_tomatoes',
       'rating_metacritic', 'rating_intranet', 'label_genre', 'label_language',
       'label_origin'],
      dtype='object')

In [8]:
df.all_genres.value_counts()

Comedy                                                   329
Drama                                                    314
Drama, Romance                                           144
Comedy, Drama                                            127
Comedy, Romance                                          123
                                                        ...
Fantasy, Action, Horror                                    1
Animation, Adventure, Comedy, Family, Fantasy, Horror      1
Family, Comedy, Fantasy, Animation                         1
Action, Crime, Drama, History, Thriller                    1
Adventure, Comedy, Family, Romance                         1
Name: all_genres, Length: 1372, dtype: int64