In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Resources/movie_tableau.csv')

In [3]:
df.columns

Index(['id', 'imdb_id', 'all_genres', 'key_genre', 'spoken_language', 'origin',
       'release_year', 'runtime', 'title', 'overview', 'tagline', 'budget',
       'revenue', 'rating_tmdb', 'votes_tmdb', 'awards', 'director', 'writer',
       'actors', 'plot', 'rating_imdb', 'votes_imdb', 'rating_rotten_tomatoes',
       'rating_metacritic', 'rating_intranet', 'label_genre', 'label_language',
       'label_origin'],
      dtype='object')

In [4]:
df.all_genres.value_counts()

Comedy                                                   329
Drama                                                    314
Drama, Romance                                           144
Comedy, Drama                                            127
Comedy, Romance                                          123
                                                        ...
Fantasy, Action, Horror                                    1
Animation, Adventure, Comedy, Family, Fantasy, Horror      1
Family, Comedy, Fantasy, Animation                         1
Action, Crime, Drama, History, Thriller                    1
Adventure, Comedy, Family, Romance                         1
Name: all_genres, Length: 1372, dtype: int64

In [5]:
df.shape

(4997, 28)

In [6]:
df.dropna

<bound method DataFrame.dropna of           id    imdb_id                                        all_genres  \
0        278  tt0111161                                      Drama, Crime
1        424  tt0108052                               Drama, History, War
2     569094  tt9362722                      Animation, Action, Adventure
3        129  tt0245429                        Animation, Family, Fantasy
4     496243  tt6751668                           Comedy, Thriller, Drama
...      ...        ...                                               ...
4992   19912  tt1144884                                   Horror, Mystery
4993  823461  tt8231668                                   Comedy, Romance
4994  582607  tt8743064  Science Fiction, Drama, Adventure, Crime, Action
4995  300467  tt2251281                                  Horror, Thriller
4996   10603  tt0119190                Adventure, Comedy, Family, Romance

            key_genre spoken_language                    origin  release_year  \
0               Crime         English  United States of America          1994
1                 War          German  United States of America          1993
2           Animation         English  United States of America          2023
3           Animation        Japanese                     Japan          2001
4            Thriller         English               South Korea          2019
...               ...             ...                       ...           ...
4992          Mystery         English  United States of America          2009
4993          Romance         English  United States of America          2021
4994  Science Fiction         English  United States of America          2019
4995           Horror         English  United States of America          2014
4996           Family         English  United States of America          1997

      runtime                                title  \
0         142             The Shawshank Redemption
1         195                     Schindler's List
2         140  Spider-Man: Across the Spider-Verse
3         125                        Spirited Away
4         133                             Parasite
...       ...                                  ...
4992       82                The Final Destination
4993       92                        Good on Paper
4994       86                    See You Yesterday
4995       97                   Dark Was the Night
4996       92                 George of the Jungle

                                               overview  ...  \
0     Framed in the 1940s for the double murder of h...  ...
1     The true story of how businessman Oskar Schind...  ...
2     After reuniting with Gwen Stacy, Brooklynâ€™s fu...  ...
3     A young girl, Chihiro, becomes trapped in a st...  ...
4     All unemployed, Ki-taek's family takes peculia...  ...
...                                                 ...  ...
4992  After a young man's premonition of a deadly ra...  ...
4993  After years of putting her career ahead of lov...  ...
4994  As two teen prodigies try to master the art of...  ...
4995  An evil is unleashed in a small town when a lo...  ...
4996  Deep in the African jungle, a baby named Georg...  ...

                                                 actors  \
0               Tim Robbins, Morgan Freeman, Bob Gunton
1              Liam Neeson, Ralph Fiennes, Ben Kingsley
2     Shameik Moore, Hailee Steinfeld, Brian Tyree H...
3          Daveigh Chase, Suzanne Pleshette, Miyu Irino
4             Song Kang-ho, Lee Sun-kyun, Cho Yeo-jeong
...                                                 ...
4992           Nick Zano, Krista Allen, Andrew Fiscella
4993  Iliza Shlesinger, Britney Young, Christopher N...
4994           Eden Duncan-Smith, Dante Crichlow, Astro
4995           Kevin Durand, Lukas Haas, Bianca Kajlich
4996   Brendan Fraser, Leslie Mann, Thomas Haden Church

                                                   plot  rating_imdb  \
0     Over the course of several years, two convicts...          9.0
1     In German-occupied Poland during World War II,...          9.0
2     Miles Morales catapults across the Multiverse,...          9.0
3     During her family's move to the suburbs, a sul...          9.0
4     Greed and class discrimination threaten the ne...          8.0
...                                                 ...          ...
4992  A horrifying premonition saves a young man and...          5.0
4993  After years of putting her career first, a sta...          6.0
4994  Two Brooklyn teenage prodigies, C.J. Walker an...          5.0
4995  An evil is unleashed in a small town when a lo...          6.0
4996  A man raised in the jungle by apes falls in lo...          6.0

      votes_imdb  rating_rotten_tomatoes rating_metacritic rating_intranet  \
0      2802199.0                     9.0               8.0             9.0
1      1404593.0                    10.0              10.0             9.0
2       252325.0                    10.0               9.0             9.0
3       807746.0                    10.0              10.0             9.0
4       891596.0                    10.0              10.0             8.0
...          ...                     ...               ...             ...
4992    111703.0                     3.0               3.0             5.0
4993     13475.0                     5.0               5.0             6.0
4994     11378.0                     9.0               7.0             5.0
4995     10805.0                     5.0               4.0             6.0
4996     82654.0                     6.0               5.0             6.0

          label_genre label_language              label_origin
0               Crime        English  United States of America
1                 War         German  United States of America
2           Animation        English  United States of America
3           Animation       Japanese                     Japan
4            Thriller        English               South Korea
...               ...            ...                       ...
4992          Mystery        English  United States of America
4993          Romance        English  United States of America
4994  Science Fiction        English  United States of America
4995           Horror        English  United States of America
4996           Family        English  United States of America

[4997 rows x 28 columns]>